footer {
  padding: 32px 0px;
  background: var(--color-primary);
  overflow: hidden;

  .button-mapa-site {
    padding: 0;
    margin: 0;
    background: none;
    border: none;

    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    font-family: var(--font-rf-dewi);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 124%;

    &:after {
      display: flex;
      content: url("../../images/icon-map-site.svg");
      position: relative;
    }
  }

  .content-first-footer {
    border-bottom: 1px solid rgba(240, 240, 240, 0.24);
    padding-bottom: 16px;
    // padding: 0;
  }

  .content-first-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;

    // padding-right: var(--bs-gutter-x, 0.75rem);
    // padding-left: var(--bs-gutter-x, 0.75rem);
    // margin-right: auto;
    // margin-left: auto;

    .mailing-footer {
      display: flex;
      align-items: center;

      a:not(:last-child) {
        &:after {
          content: "";
          position: relative;
          width: 1px;
          height: 17px;
          background: #fff;
          margin: 0 16px;
          display: inline-block;
        }
      }

      a {
        text-decoration: none;
        color: #fff;
        font-family: var(--font-rf-dewi);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 124%;
        display: inherit;
        align-items: center;
      }
    }

    .cotacao-footer {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
      img {
        max-width: 60px;
      }
    }
  }

  .list-menu-footer {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
    }

    .item-menu-footer {
      display: flex;
      flex-direction: column;

      h5 {
        margin: 0;
        color: #fff;
        margin-bottom: 20px;

        font-family: var(--font-rf-dewi);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 116%;
      }

      a {
        margin-bottom: 12px;
        text-decoration: none;
        color: #fff;
        font-family: var(--font-rf-dewi);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 116%;
      }
    }
  }

  .container-second-footer {
    padding-top: 24px;

    .content-second-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 32px;
      flex-wrap: wrap;

      p {
        margin: 0;
        color: #fff;
        font-family: var(--font-rf-dewi);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 124%;
      }

      .links-second-footer {
        display: flex;
        align-items: center;

        a:not(:last-child) {
          &:after {
            content: "";
            position: relative;
            width: 1px;
            margin: 0 16px;
            height: 17px;
            background: #fff;
            display: inline-block;
          }
        }

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: #fff;
          font-family: var(--font-rf-dewi);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 124%;
        }
      }

      div.social-footer {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }
}
