.header-internal {
  position: relative;

  .img-header {
    height: 450px;
    overflow: hidden;
    position: relative;
    z-index: 1;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        #011331 9.11%,
        rgba(1, 19, 49, 0.24) 100%
      );
      background-blend-mode: multiply;
    }

    @media (max-width: 991px) {
      height: 400px;
    }

    @media (max-width: 767px) {
      height: 450px;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .main-content-header-internal {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 24px;
    padding-bottom: 48px;

    margin: 0 auto;
    max-height: 450px;
    max-width: 1236px;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;

    .title-internal {
      h1 {
        margin: 0;
        padding: 0;

        color: #fff;
        font-family: var(--font-rf-dewi);
        font-size: 42px;
        font-style: normal;
        font-weight: 600;
        line-height: 116%;

        @media (max-width: 991px) {
          font-size: 32px;
          line-height: 36px;
        }

        @media (max-width: 767px) {
          font-size: 28px;
          line-height: 32px;
        }
      }
    }

    .breadcrumb {
      all: initial;

      a {
        text-decoration: none;
        color: #fff;
        font-family: var(--font-rf-dewi);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;

        &:not(:last-child):after {
          content: url("../../images/arrow-breadcrumb.svg");
          margin: 0 16px;
        }
      }

      a.current {
        color: #ffffff;
        font-weight: 500;
      }
    }
  }
}
